<h2 *ngIf="!persona.id; else edicion"> Añadir Nueva Persona </h2>
<ng-template #edicion>
    <h2>Editar a {{ persona.usuario }}</h2> 
</ng-template>

<div fxLayout="row" fxLayoutGap="40px">
    <div fxFlex="100" fxLayout="column">
        <form class="example-form" >
            <mat-form-field appearance="fill" class="example-full-width" fxLayoutGap="10px" fxLayout="column">
                <mat-label>Usuario</mat-label>
                <input matInput name="usuario" [(ngModel)]="persona.usuario" required>
            </mat-form-field>

            <!-- Mensaje de error de validación -->
            <!-- <mat-error *ngIf="userAddressValidations.get('firstName').hasError('maxlength')">
                First Name can be atmax n characters long!
            </mat-error> -->

            <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="10">
                <mat-form-field appearance="fill" fxFlex="30" fxLayout="column">
                    <mat-label>Nombre</mat-label>
                    <input matInput name="nombre" [(ngModel)]="persona.nombre" required>
                </mat-form-field>
        
                <mat-form-field appearance="fill" fxFlex="40" fxLayout="column">
                    <mat-label>Apellido</mat-label>
                    <input matInput name="apellido" [(ngModel)]="persona.apellido">
                </mat-form-field>

                <mat-form-field appearance="fill" fxFlex="30" fxLayout="column">
                    <mat-label>Ciudad</mat-label>
                    <input matInput name="ciudad" [(ngModel)]="persona.ciudad">
                </mat-form-field>
            </div>

            <div fxLayoutGap="10px" fxLayout="row" fxLayout.xs="column">
                <mat-form-field appearance="fill" fxFlex="50" fxLayout="column">
                    <mat-label>Contraseña</mat-label>
                    <input matInput type="password" name="password" [(ngModel)]="persona.password" required>
                </mat-form-field>

                <mat-form-field appearance="fill" fxFlex="50" fxLayout="column">
                    <mat-label>Repetir Contraseña</mat-label>
                    <input matInput type="password" name="rPasswd" [(ngModel)]="persona.rPasswd" required>
                </mat-form-field>
            </div>

            <mat-form-field class="example-full-width" appearance="fill" fxLayout="column">
                <mat-label>Correo Corporativo</mat-label>
                <input type="email" matInput placeholder="Ej. pat@example.com" name="correoEmpresa" [(ngModel)]="persona.correo_empresa" email="" required>
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill" fxLayout="column">
                <mat-label>Correo Personal</mat-label>
                <input type="email" matInput placeholder="Ej. ej@example.com" name="correoPersonal" [(ngModel)]="persona.correo_personal" required>
            </mat-form-field>


            <div fxLayout="row" fxLayout.xs="column">
                <div fxLayout="column" fxFlex="30">
                    <!-- Activo: Radio button -->
                    <label id="example-radio-group-label">¿Usuario activo? {{ activoSeleccionado }}</label> 
                    <mat-radio-group class="example-radio-group" [(ngModel)]="persona.activo" [ngModelOptions]="{standalone: true}">
                        <mat-radio-button class="example-radio-button" *ngFor="let activo of activar" [value]="activo">
                            {{ activo ? 'Sí' : 'No' }}
                        </mat-radio-button>
                    </mat-radio-group>
                </div>

                <div fxLayout="column" fxFlex="70">
                    <div fxLayout="row" fxFlex="50">
                        <div fxLayout="column" fxFlex="100">
                            <!-- Fecha Creación y Fecha de Finalización (rango): Tipo fecha -->
                            <mat-form-field appearance="fill">
                                <mat-label>Fecha Creación - Fecha Finalización</mat-label>
                                <mat-date-range-input [rangePicker]="picker" [formGroup]="range" required>
                                    <input matStartDate placeholder="Fecha de Creación" formControlName="inicio" name="f_creacion" [ngModel]="persona.f_creacion | date:'yyyy-MM-dd'" (ngModelChange)="persona.f_creacion = $event">
                                    <input matEndDate placeholder="Fecha de Finalización" formControlName="final" name="f_finalizacion" [ngModel]="persona.f_finalizacion | date:'yyyy-MM-dd'" (ngModelChange)="persona.f_finalizacion = $event">
                                </mat-date-range-input>
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-date-range-picker #picker></mat-date-range-picker>
                            </mat-form-field>
                        </div>
                    </div>

                    <div fxLayout="row">
                        <div fxLayout="column" fxFlex="100">
                            <mat-form-field appearance="fill">
                                <mat-label>URL Imagen</mat-label>
                                <input matInput name="urlImagen" [(ngModel)]="persona.urlImagen">
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div><br>

            <div fxLayout="row" fxLayout.xs="column">
                <div fxLayout="column" fxFlex="100">
                    <button mat-button color="accent" (click)="gestionarUsuario()"> {{ persona.id ? "Editar persona" : "Añadir persona"}} </button>         <!-- (click)="gestionarUsuario()" -->
                </div>
                <div fxLayout="column" fxFlex="100" *ngIf="persona.id">
                    <button mat-button color="warn" (click)="eliminar()">Eliminar persona</button>
                </div>
            </div>

        </form>
    </div>

    <div fxFlex="30" fxLayout="column" fxLayoutAlign="center" fxLayoutAlign.xs="top" *ngIf="persona.id" style="border: 15px inset #540B6E;">
        <img [src]="persona | imagen">
    </div>

</div>
